mixin blog-item(text, img, link)
	.blog__item
		a.blog__item-link(href='/'+ link)
			img.blog__item-img(src= img alt="Название поста")
		.blog__item-desc
			p.blog__item-title= text
			+button("Читать", "/post-page.html")(class="btn__small")