
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

/* Миксин для коуглой аватарки */
@mixin circle($w, $h) {
  display: block;
  border-radius:100px;
	width: $w;
	height: $h;
}

/* Миксин для инконки по средствам ::before */

@mixin iconBefore($icon, $color, $size) {
  content:$icon;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color:$color;
  font-size: $size;
  position: absolute;
}

		