@import "bourbon";


/* ЦВЕТА */
$base-color:#222222;


// login-page
$bg-login:#4f9cca;
$bg-login-form:rgba(18,45,61, 0.8);
$bg-login-checkbox:#1e6791;
$bg-login-error-head:#b51919;
$bg-login-error-text:#e0e9ee;
$white:#ffffff;
$icon-heard-red:#d10946;
$placeholder-color:#bebebe;

// btn
$btn-white:#ffffff;
$btn-text-color:#037ec6;
$btn-shadow:#173242;

// header
$bg-header-color:#3a7da4;
$header-color-description:#81c5ee;
$header-color-nav:#ffffff;

// content
$content-color-h1:#037ec6;
$content-line:#e9eff3;

// post
$post-cat-color:#037ec6;
$post-date-color:#b4bbc2;
$post-comments-color:#037ec6;

//comments
$comments-bg:#eef0f2;
$icon-music: "\f017";
$icon-clock-color:#b4bbc2;
$comments-data-color:#9b9b9b;


// footer2
$footer2-bg:#252525;
$footer2-heard-color:#d10946;
$footer2-icon-hover:#ffe400;


