@import "bourbon";


/* ЦВЕТА */

// login-page
$bg-login:#4f9cca;
$bg-login-form:rgba(18,45,61, 0.8);
$bg-login-checkbox:#1e6791;
$bg-login-error-head:#b51919;
$bg-login-error-text:#e0e9ee;
$white:#ffffff;
$icon-heard-red:#d10946;
$placeholder-color:#bebebe;

// btn
$btn-white:#ffffff;
$btn-text-color:#037ec6;
$btn-shadow:#173242;

// header
$bg-header-color:#3a7da4;
$header-color-description:#81c5ee;
$header-color-nav:#ffffff;


