footer.footer2
	.container
		.row
			.col-md-4
				p.footer2__copy
					| © Артём Кихтенко
					br
					| Создано с  
					i.fa.fa-heart.color(aria-hidden="true") 
					|  в   
					span
						a.footer2__link(href="webCademy.ru") WebCademy.ru
					|  в 2017 году
			.col-md-4
				nav.footer2__nav
					a(href="/") Главная
					a(href="/about.html") Обо мне
					a(href="/works.html") Работы
					a(href="/blog.html") Блог
					a(href="/contact.html") Контакты
			.col-md-4
				a.footer2__link-icon(href="#")
					i.fa.fa-vk.footer2__icon(aria-hidden="true")
				a.footer2__link-icon(href="#")
					i.fa.fa-twitter.footer2__icon(aria-hidden="true")
				a.footer2__link-icon(href="#")
					i.fa.fa-youtube.footer2__icon(aria-hidden="true")
				a.footer2__link-icon(href="#")
					i.fa.fa-instagram.footer2__icon(aria-hidden="true")
				a.footer2__link-icon(href="#")
					i.fa.fa-facebook.footer2__icon(aria-hidden="true")
				
