header.header
	.container-fluid
		include _nav-top.pug
		span.header__description Сайт IT специалиста
		nav.header__nav
			a.active(href="/") Главная
			a(href="/about-page.html") Обо мне
			a(href="/works-page.html") Работы
			a(href="/blog-page.html") Блог
			a(href="/contact-page.html") Контакты

			