header.header
	.container-fluid
		include _nav-top.pug
		span.header__description Сайт IT специалиста
		nav.header__nav
			a.active(href="#") Главная
			a(href="#") Обо мне 
			a(href="#") Работы
			a(href="#") Блог
			a(href="#") Контакты
