nav.nav-top
	.nav-top__title
		i.fa.fa-paper-plane(aria-hidden='true') 
			a(href="/") Digital Lifestyle
	.nav-top__login
		a.nav-top__login-link(href='signin-page.html') Регистрация
		a.nav-top__login-link(href='login-page.html') Вход
		//- if title == 'Страница входа'
		//- 	a(href='signin-page.html') Регистрация 
		//- else
		//- 	a(href='login-page.html') Вход
		

		