header.header
	.container-fluid
		nav.nav-top
			.nav-top__title
				i.fa.fa-paper-plane(aria-hidden='true') 
					a(href="/") Супер сайт
			.nav-top__login
				if title == 'Страница входа'
					a(href='signin-page.html') Регистрация 
				else
					a(href='login-page.html') Вход
			

		