extends ./templates/_template.pug

block variables
	- var title  = 'Страница блога'

	
block content
	include ./blocks/_header.pug
	section.blog
		.container
			.row
				h1.blog__title-h1 Блог веб-разработчика
				.col-md-4
					+blog-item("Поездка в New York","../img/blog-img-1.jpg", "blog/post-page.html")
				.col-md-4
					+blog-item("Что я делал в долине","../img/blog-img-2.jpg", "blog/post-page.html")
				.col-md-4
					+blog-item("Как я ходил в поход этим летом","../img/blog-img-3.jpg", "blog/post-page.html")
				.col-md-4
					+blog-item("Поездка в New York пример длинного названия поста...","../img/blog-img-1.jpg", "blog/post-page.html")
				.col-md-4
					+blog-item("Поездка в New York","../img/blog-img-2.jpg", "blog/post-page.html")
				.col-md-4
					+blog-item("Как я ходил в поход этим летом","../img/blog-img-3.jpg", "blog/post-page.html")
				.col-md-4.col-sm-3
					+blog-item("Поездка в New York","../img/blog-img-1.jpg", "blog/post-page.html")
				.col-md-4
					+blog-item("Поездка в New York","../img/blog-img-2.jpg", "blog/post-page.html")
				.col-md-4
					+blog-item("Поездка в New York","../img/blog-img-3.jpg", "blog/post-page.html")

	include ./blocks/_footer2.pug
		
