extends ./templates/_template.pug

block variables
	- var title = 'Главная страница'





block content
	include ./blocks/_header.pug
	section.content
		.container
			.row
				.col-md-3
					img.content__avatar(src="../img/avatar.jpg" alt="Фото автора сайта")
				.col-md-9
					h1.content__h1 Емельян Казаков
					p.content__about
						|Я веб разработчик из Казани. Мне 28 лет.
						br 
						|Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					p.content__about
						|Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. 
						br
						|Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
					h2.content__h2 Что я умею
					p.content__about
						|Меня привлекет Frontend разработка, это не только моя работа, но и хобби.
						br
						|Также знаком и могу решать не сложные задачи на Backend.
					p.content__about
						|Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
					+button("Подробнее", "/about.html")(class="btn__content")
	section.works
		.container
			.row
				.works__title 
					span Новые 
					a.works__link(href="#") работы 
				.col-md-4
					+work-item("Верстка Landing Page","../img/work-img-1.jpg")
				.col-md-4
					+work-item("Верстка UI набора","../img/work-img-2.jpg")
				.col-md-4
					+work-item("Верстка интернет магазина","../img/work-img-3.jpg")

		section.blog
			.container
				.row
					.blog__title
						span Новые записи в 
						a.blog__link(href="#") блоге
					.col-md-4
						+blog-item("Поездка в New York","../img/blog-img-1.jpg")
					.col-md-4
						+blog-item("Что я делал в долине","../img/blog-img-2.jpg")
					.col-md-4
						+blog-item("Как я ходил в поход этим летом","../img/blog-img-3.jpg")
						

	include ./blocks/_footer2.pug
	

