extends ./templates/_template.pug

block variables
	- var title = 'Главная страница'

block content
	
	h1 Главная страница

	+button("Страница входа", "/login-page.html")(class="btn-primary")
	//- +button("Кнопка 2", "/other-page.html")


	//- +blog-post-preview("Название поста 1", "img/blog/01-prev.jpg")
	//- +blog-post-preview("Название поста 2", "img/blog/01-prev.jpg")
	//- +blog-post-preview("Название поста 3", "img/blog/01-prev.jpg")