extends ./templates/_template.pug

block variables
	- var title  = 'Страница блога'

	
block content
	include ./blocks/_header.pug
	section.post
		.container
			.row
				.col-md-10.col-md-offset-1
					actile.post-item
						h1.post__item-title Национальный парк Йосемити
						span.post__item-author Емельян Казаков
						a.post__item-cat(href="#") Путешествия
						span.post__item-date 16 Марта 2017
						span.post__item-comments-num 2 комментария
						img.post__item-img(src="../img/post-img.jpg", alt="")
						p.post__item-text
							| Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов. 
						p.post__item-text 
							| Центром парка является долина Йосемити, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.
					nav.post__item-nav
						+button("Назад", "#")(class="btn__small-arrow-left")
						+button("Вперед", "#")(class="btn__small-arrow-right")
					span.post__item-comments-num-big 2 комментария
					+post-comments("Джон До","Замечательный парк, обязательо отправлюсь туда этим летом.","../img/avatar_small.jpg")
					+post-comments("Джон До","Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что 								тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.. Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам lorem ipsum сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).","../img/avatar_small2.jpg")


				

	include ./blocks/_footer2.pug
		
