.btn{
	display: inline-block;
	background-color:$btn-white;
	line-height: rem(32px);
	color:$btn-text-color;
	font-weight: bold;
	font-size: rem(16px);
	text-decoration: none;
	padding: 14px 42px;
	border-radius:50px;
	transition:0.4s 0.1s ease;
	&__primary{
		box-shadow:4px 6px 16px $btn-shadow;
	}
	&__content, &__small{
		border:2px solid #dde8ee;
		&:hover{
			background: $btn-text-color;
			border:2px solid $btn-text-color;
			color:white;
		}
	}
	&__content{padding: 10px 30px;}
	&__small{padding: 6px 30px;}
}