.form-login{
	display:flex;
	flex: 1 0 auto;
	align-items: center;
  justify-content: center;

}
.space-between{
	justify-content:space-between;
}

.center{
	justify-content: center;
}
.column{
	flex-direction: column;
}

.form-login-sigin{
	width: 360px;
	text-align: center;
	padding:30px;
	background:$bg-login-form;
	border-radius:8px;
	height:auto;
	color:$white;
	&__header{
		display:block;
		font-size:28px;
			
	}
	&__email, &__pass{
		/* color:$placeholder-color; */
		@include placeholder {
		  color: $placeholder-color;
		}
		font-family: 'Open Sans';
		font-size: 16px;
		background-color:$white;
		border-radius: 4px;
		padding: 9px;
		box-sizing: border-box;
		width: 100%;
		border: 3px solid rgba(0,0,0,0);
		 &:focus {
	    @include placeholder {
	      opacity: 0;
	    }
  	}
	}
}

.form-login-sigin-wrapper, .form-login-sigin-wrapper--error{
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	display:flex;
	position: relative;
	margin-bottom:20px;
	
	&__error-head, &__error-head--text{
		width: 100%;
		background: $bg-login-error-head;
		border-radius:4px;
		color:$white;
		font-size: 18px;
		font-weight: normal;
		padding: 16px;
	}
	&__error-head--text{
		border-radius:4px 4px 0 0;
	}
	&__error-text{
		border-radius: 0 0 4px 4px;
		padding: 14px;
		color:#38505e;
		line-height: 20px;
		background: $bg-login-error-text;

	}

}
label.form-login-sigin__label{
	margin-left: 30px;
}
input.form-login-sigin__checkbox[type="checkbox"]{
	 display:none; 
}
input.form-login-sigin__checkbox[type="checkbox"] + label{
	 cursor: pointer;
}
input.form-login-sigin__checkbox[type="checkbox"] + label::before{
	content: "";
  display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url("../img/check.png");
	position: absolute;
	top: 0; 
	left: 0;
	background-repeat: no-repeat;
}
input.form-login-sigin__checkbox[type="checkbox"]:checked + label::before{
	content: "";
  display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url("../img/check-down.png");
	position: absolute;
	top: 0; 
	left: 0;
	background-repeat: no-repeat;
}


.form-login-sigin-wrapper--error{
		display: none;
}
.form-login-sigin__link{
		color:$white;
		font-size: 16px;
		line-height: 1.3;

	}










