.nav-top{
	display:flex;
	padding:rem(20px);
	justify-content:space-between;
	&__title{
		i{
			padding-right:rem(18px);
			font-size: rem(20px);
			color:$white;
			a{
				font-weight:bold;
				font-family: 'Open Sans';
				color:$white;
				text-decoration: none;
			}
		}
	}
	&__login{
		a{
			color:$white;
			font-size: rem(16px);
		}
	}
}


/* Для экранов с шириной 767px и более. */
@media only screen and (min-width : 767px) {
	.nav-top{
		padding:rem(40px);
	}
	.nav-top__title i{
		padding-right:rem(18px);
		font-size: rem(32px);
	}
	.nav-top__login a{
		line-height:2.5;
	}
	
}