.nav-top{
	display:flex;
	justify-content:space-between;
	&__title{
		i{
			padding-right:rem(18px);
			font-size: rem(24px);
			color:$white;
			a{
				font-weight:bold;
				font-family: 'Open Sans';
				color:$white;
				text-decoration: none;
			}
		}
	}
	&__login-link{
			color:$white;
			font-size: rem(16px);
		&:first-child{
			padding-right:30px; 
		}
	}
	
}


/* Для экранов с шириной 767px и более. */
@media only screen and (min-width : 767px) {
	.nav-top__title i{
		padding-right:rem(18px);
		font-size: rem(32px);
		a{
			padding-left:12px; 
		}
	}
	.nav-top__login-link{
		line-height:2.5;
	}
	
}